<div class="background">
  <div class="welcome">
    <h1>Welcome to <span>BookingApp</span> </h1>
    <h5>

      BookingApp was established in 1995 by the group of developers called the CodeTribers, with an <br>
      Intention to simplify the booking process you encounter in many ways like flight,accommodation and <br>
      any other service that requires booking. Our service reaches variety of clients in different ways.

    </h5>
    <input type="text" placeholder="Full Name" [(ngModel)]="name">
    <button (click)="booking()">BOOKING</button>
  </div>
</div>